# Mac
.DS_Store

# Python
__pycache__/
*.pyc

# Models
*.pt



# Virtual environments
TrafficSignDetection/neurodrive/
**/venv/
**/.venv/
**/env/

# Videos (will be handled by LFS or excluded)
*.mp4
*.zip
*.dat
TrafficSignDetection/Real_Data